body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1208px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u552_img {
  position:absolute;
  left:0px;
  top:0px;
  width:168px;
  height:684px;
}
#u552 {
  position:absolute;
  left:17px;
  top:10px;
  width:168px;
  height:684px;
}
#u553 {
  position:absolute;
  left:2px;
  top:334px;
  width:164px;
  visibility:hidden;
  word-wrap:break-word;
}
#u554_div {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'仿宋 Regular', '仿宋';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u554 {
  position:absolute;
  left:26px;
  top:22px;
  width:145px;
  height:18px;
  font-family:'仿宋 Regular', '仿宋';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u555 {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  white-space:nowrap;
}
#u556_img {
  position:absolute;
  left:0px;
  top:0px;
  width:168px;
  height:46px;
}
#u556 {
  position:absolute;
  left:17px;
  top:321px;
  width:168px;
  height:46px;
}
#u557 {
  position:absolute;
  left:2px;
  top:15px;
  width:164px;
  visibility:hidden;
  word-wrap:break-word;
}
#u558_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  color:#F2F2F2;
}
#u558 {
  position:absolute;
  left:40px;
  top:333px;
  width:73px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  color:#F2F2F2;
}
#u559 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u560_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1192px;
  height:2px;
}
#u560 {
  position:absolute;
  left:17px;
  top:70px;
  width:1191px;
  height:1px;
}
#u561 {
  position:absolute;
  left:2px;
  top:-8px;
  width:1187px;
  visibility:hidden;
  word-wrap:break-word;
}
#u562 {
  position:absolute;
  left:281px;
  top:144px;
  width:125px;
  height:20px;
}
#u562_input {
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:20px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u563_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u563 {
  position:absolute;
  left:214px;
  top:146px;
  width:57px;
  height:16px;
}
#u564 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u565_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u565 {
  position:absolute;
  left:470px;
  top:146px;
  width:57px;
  height:16px;
}
#u566 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u567 {
  position:absolute;
  left:537px;
  top:144px;
  width:128px;
  height:20px;
}
#u567_input {
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  height:20px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u567_input:disabled {
  color:grayText;
}
#u568 {
  position:absolute;
  left:803px;
  top:143px;
  width:67px;
  height:20px;
}
#u568_input {
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:20px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u569_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u569 {
  position:absolute;
  left:736px;
  top:145px;
  width:57px;
  height:16px;
}
#u570 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u571_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:2px;
}
#u571 {
  position:absolute;
  left:874px;
  top:153px;
  width:19px;
  height:1px;
}
#u572 {
  position:absolute;
  left:2px;
  top:-8px;
  width:15px;
  visibility:hidden;
  word-wrap:break-word;
}
#u573 {
  position:absolute;
  left:897px;
  top:144px;
  width:67px;
  height:20px;
}
#u573_input {
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:20px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u574_div {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(174, 174, 174, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u574 {
  position:absolute;
  left:985px;
  top:138px;
  width:75px;
  height:32px;
}
#u575 {
  position:absolute;
  left:2px;
  top:8px;
  width:71px;
  word-wrap:break-word;
}
#u576_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  color:#A1A1A1;
}
#u576 {
  position:absolute;
  left:40px;
  top:108px;
  width:73px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  color:#A1A1A1;
}
#u577 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u578_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  color:#A1A1A1;
}
#u578 {
  position:absolute;
  left:40px;
  top:181px;
  width:73px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  color:#A1A1A1;
}
#u579 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u580_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  color:#A1A1A1;
}
#u580 {
  position:absolute;
  left:40px;
  top:255px;
  width:73px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  color:#A1A1A1;
}
#u581 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u582_div {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u582 {
  position:absolute;
  left:203px;
  top:71px;
  width:99px;
  height:37px;
}
#u583 {
  position:absolute;
  left:2px;
  top:10px;
  width:95px;
  word-wrap:break-word;
}
#u584_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1024px;
  height:2px;
}
#u584 {
  position:absolute;
  left:185px;
  top:191px;
  width:1023px;
  height:1px;
}
#u585 {
  position:absolute;
  left:2px;
  top:-8px;
  width:1019px;
  visibility:hidden;
  word-wrap:break-word;
}
#u586_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1024px;
  height:2px;
}
#u586 {
  position:absolute;
  left:185px;
  top:228px;
  width:1023px;
  height:1px;
}
#u587 {
  position:absolute;
  left:2px;
  top:-8px;
  width:1019px;
  visibility:hidden;
  word-wrap:break-word;
}
#u588_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u588 {
  position:absolute;
  left:364px;
  top:201px;
  width:65px;
  height:19px;
  font-size:16px;
}
#u589 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u590_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u590 {
  position:absolute;
  left:514px;
  top:203px;
  width:65px;
  height:19px;
  font-size:16px;
}
#u591 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u592_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u592 {
  position:absolute;
  left:703px;
  top:201px;
  width:65px;
  height:19px;
  font-size:16px;
}
#u593 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u594_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u594 {
  position:absolute;
  left:899px;
  top:201px;
  width:65px;
  height:19px;
  font-size:16px;
}
#u595 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u596_div {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u596 {
  position:absolute;
  left:1093px;
  top:201px;
  width:33px;
  height:19px;
  font-size:16px;
}
#u597 {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  white-space:nowrap;
}
#u598_div {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u598 {
  position:absolute;
  left:375px;
  top:247px;
  width:43px;
  height:16px;
}
#u599 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u600_div {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u600 {
  position:absolute;
  left:525px;
  top:247px;
  width:43px;
  height:16px;
}
#u601 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u602_div {
  position:absolute;
  left:0px;
  top:0px;
  width:135px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u602 {
  position:absolute;
  left:668px;
  top:247px;
  width:135px;
  height:16px;
}
#u603 {
  position:absolute;
  left:0px;
  top:0px;
  width:135px;
  white-space:nowrap;
}
#u604_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#31B0D5;
}
#u604 {
  position:absolute;
  left:917px;
  top:247px;
  width:29px;
  height:16px;
  color:#31B0D5;
}
#u605 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u606_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#31B0D5;
}
#u606 {
  position:absolute;
  left:1093px;
  top:247px;
  width:29px;
  height:16px;
  color:#31B0D5;
}
#u607 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u608_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#31B0D5;
}
#u608 {
  position:absolute;
  left:1132px;
  top:247px;
  width:29px;
  height:16px;
  color:#31B0D5;
}
#u609 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u610_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1024px;
  height:2px;
}
#u610 {
  position:absolute;
  left:185px;
  top:276px;
  width:1023px;
  height:1px;
}
#u611 {
  position:absolute;
  left:2px;
  top:-8px;
  width:1019px;
  visibility:hidden;
  word-wrap:break-word;
}
#u612_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:135px;
}
#u612 {
  position:absolute;
  left:620px;
  top:191px;
  width:1px;
  height:134px;
}
#u613 {
  position:absolute;
  left:2px;
  top:59px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u614_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:136px;
}
#u614 {
  position:absolute;
  left:849px;
  top:190px;
  width:1px;
  height:135px;
}
#u615 {
  position:absolute;
  left:2px;
  top:60px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u616_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:136px;
}
#u616 {
  position:absolute;
  left:1013px;
  top:191px;
  width:1px;
  height:135px;
}
#u617 {
  position:absolute;
  left:2px;
  top:60px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u618_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:135px;
}
#u618 {
  position:absolute;
  left:1207px;
  top:191px;
  width:1px;
  height:134px;
}
#u619 {
  position:absolute;
  left:2px;
  top:59px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u620_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:29px;
}
#u620 {
  position:absolute;
  left:1125px;
  top:239px;
  width:1px;
  height:28px;
}
#u621 {
  position:absolute;
  left:2px;
  top:6px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u622_div {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u622 {
  position:absolute;
  left:375px;
  top:296px;
  width:43px;
  height:16px;
}
#u623 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u624_div {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u624 {
  position:absolute;
  left:525px;
  top:296px;
  width:43px;
  height:16px;
}
#u625 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u626_div {
  position:absolute;
  left:0px;
  top:0px;
  width:135px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u626 {
  position:absolute;
  left:668px;
  top:296px;
  width:135px;
  height:16px;
}
#u627 {
  position:absolute;
  left:0px;
  top:0px;
  width:135px;
  white-space:nowrap;
}
#u628_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u628 {
  position:absolute;
  left:917px;
  top:296px;
  width:29px;
  height:16px;
}
#u629 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u630_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#31B0D5;
}
#u630 {
  position:absolute;
  left:1093px;
  top:296px;
  width:29px;
  height:16px;
  color:#31B0D5;
}
#u631 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u632_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#31B0D5;
}
#u632 {
  position:absolute;
  left:1132px;
  top:296px;
  width:29px;
  height:16px;
  color:#31B0D5;
}
#u633 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u634_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1024px;
  height:2px;
}
#u634 {
  position:absolute;
  left:185px;
  top:325px;
  width:1023px;
  height:1px;
}
#u635 {
  position:absolute;
  left:2px;
  top:-8px;
  width:1019px;
  visibility:hidden;
  word-wrap:break-word;
}
#u636_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:29px;
}
#u636 {
  position:absolute;
  left:1125px;
  top:288px;
  width:1px;
  height:28px;
}
#u637 {
  position:absolute;
  left:2px;
  top:6px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u638_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:135px;
}
#u638 {
  position:absolute;
  left:470px;
  top:191px;
  width:1px;
  height:134px;
}
#u639 {
  position:absolute;
  left:2px;
  top:59px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u640_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:135px;
}
#u640 {
  position:absolute;
  left:319px;
  top:191px;
  width:1px;
  height:134px;
}
#u641 {
  position:absolute;
  left:2px;
  top:59px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u642_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u642 {
  position:absolute;
  left:214px;
  top:201px;
  width:65px;
  height:19px;
  font-size:16px;
}
#u643 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u644_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u644 {
  position:absolute;
  left:213px;
  top:245px;
  width:100px;
  height:16px;
}
#u645 {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  white-space:nowrap;
}
#u646_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u646 {
  position:absolute;
  left:214px;
  top:296px;
  width:100px;
  height:16px;
}
#u647 {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  white-space:nowrap;
}
