<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zoeeasy.cloud.sys.mapper.MessageLogMapper">

    <resultMap id="BaseResultMap" type="com.zoeeasy.cloud.sys.domain.MessageLogEntity">
        <result property="id" column="id"/>
        <result property="ip" column="ip"/>
        <result property="url" column="url"/>
        <result property="messageType" column="messageType"/>
        <result property="parameter" column="parameter"/>
        <result property="requestTime" column="requestTime"/>
        <result property="result" column="result"/>
        <result property="responseTime" column="responseTime"/>
        <result property="status" column="status"/>
        <result property="creatorUserId" column="creatorUserId"/>
        <result property="creationTime" column="creationTime"/>
    </resultMap>

    <!--通用结果查询列-->
    <sql id="Base_Column_List">
                id,
            ip,
            url,
            messageType,
            parameter,
            requestTime,
            result,
            responseTime,
            status,
            creatorUserId,
            creationTime
        </sql>


</mapper>