<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zoeeasy.cloud.sys.mapper.ParamTypeMapper">

    <resultMap id="BaseResultMap" type="com.zoeeasy.cloud.sys.domain.ParamTypeEntity">
        <result property="id" column="id"/>
        <result property="tenantId" column="tenantId"/>
        <result property="paramCode" column="paramCode"/>
        <result property="paramName" column="paramName"/>
        <result property="parentCode" column="parentCode"/>
        <result property="sort" column="sort"/>
        <result property="staticParam" column="staticParam"/>
        <result property="tenancyHostSide" column="tenancyHostSide"/>
        <result property="status" column="status"/>
        <result property="remark" column="remark"/>
        <result property="creatorUserId" column="creatorUserId"/>
        <result property="creationTime" column="creationTime"/>
        <result property="lastModifierUserId" column="lastModifierUserId"/>
        <result property="lastModificationTime" column="lastModificationTime"/>
        <result property="deleterUserId" column="deleterUserId"/>
        <result property="deletionTime" column="deletionTime"/>
        <result property="deleted" column="deleted"/>
    </resultMap>

    <!--通用结果查询列-->
    <sql id="Base_Column_List">
                id,
            tenantId,
            paramCode,
            paramName,
            parentCode,
            sort,
            staticParam,
            tenancyHostSide,
            status,
            remark,
            creatorUserId,
            creationTime,
            lastModifierUserId,
            lastModificationTime,
            deleterUserId,
            deletionTime,
            deleted
        </sql>
    <select id="findAllStatic" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from sys_param_type
        <where>
            deleted = '0' and tenancyHostSide = 4 and tenantId is null and parentCode = #{parentCode} ORDER BY sort ASC
        </where>

    </select>


</mapper>