body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:2940px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u473_img {
  position:absolute;
  left:0px;
  top:0px;
  width:454px;
  height:795px;
}
#u473 {
  position:absolute;
  left:140px;
  top:150px;
  width:454px;
  height:795px;
}
#u474 {
  position:absolute;
  left:2px;
  top:390px;
  width:450px;
  visibility:hidden;
  word-wrap:break-word;
}
#u475_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:39px;
}
#u475 {
  position:absolute;
  left:514px;
  top:625px;
  width:60px;
  height:39px;
}
#u476 {
  position:absolute;
  left:2px;
  top:12px;
  width:56px;
  visibility:hidden;
  word-wrap:break-word;
}
#u477_div {
  position:absolute;
  left:0px;
  top:0px;
  width:260px;
  height:50px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:40px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u477 {
  position:absolute;
  left:237px;
  top:595px;
  width:260px;
  height:50px;
}
#u478 {
  position:absolute;
  left:2px;
  top:17px;
  width:256px;
  word-wrap:break-word;
}
#u479_div {
  position:absolute;
  left:0px;
  top:0px;
  width:228px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF0000;
}
#u479 {
  position:absolute;
  left:259px;
  top:595px;
  width:228px;
  height:16px;
  color:#FF0000;
}
#u480 {
  position:absolute;
  left:0px;
  top:0px;
  width:228px;
  white-space:nowrap;
}
#u481_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:170px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u481 {
  position:absolute;
  left:2640px;
  top:2445px;
  width:300px;
  height:170px;
}
#u482 {
  position:absolute;
  left:2px;
  top:77px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u483_div {
  position:absolute;
  left:0px;
  top:0px;
  width:446px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  color:#FF0000;
}
#u483 {
  position:absolute;
  left:140px;
  top:90px;
  width:446px;
  height:37px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  color:#FF0000;
}
#u484 {
  position:absolute;
  left:0px;
  top:0px;
  width:446px;
  white-space:nowrap;
}
#u485_img {
  position:absolute;
  left:0px;
  top:0px;
  width:451px;
  height:625px;
}
#u485 {
  position:absolute;
  left:790px;
  top:150px;
  width:451px;
  height:625px;
}
#u486 {
  position:absolute;
  left:2px;
  top:304px;
  width:447px;
  visibility:hidden;
  word-wrap:break-word;
}
#u487_div {
  position:absolute;
  left:0px;
  top:0px;
  width:478px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  color:#FF0000;
}
#u487 {
  position:absolute;
  left:790px;
  top:90px;
  width:478px;
  height:37px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  color:#FF0000;
}
#u488 {
  position:absolute;
  left:0px;
  top:0px;
  width:478px;
  white-space:nowrap;
}
#u489_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:170px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:6px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u489 {
  position:absolute;
  left:866px;
  top:380px;
  width:300px;
  height:170px;
}
#u490 {
  position:absolute;
  left:2px;
  top:77px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u491_div {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  color:#D7D7D7;
}
#u491 {
  position:absolute;
  left:890px;
  top:398px;
  width:109px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  color:#D7D7D7;
}
#u492 {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  white-space:nowrap;
}
#u493_div {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  color:#515151;
}
#u493 {
  position:absolute;
  left:890px;
  top:440px;
  width:37px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  color:#515151;
}
#u494 {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u495_div {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  color:#515151;
}
#u495 {
  position:absolute;
  left:890px;
  top:478px;
  width:37px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  color:#515151;
}
#u496 {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u497_div {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  color:#515151;
}
#u497 {
  position:absolute;
  left:890px;
  top:518px;
  width:55px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  color:#515151;
}
#u498 {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  white-space:nowrap;
}
