body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:490px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1249_img {
  position:absolute;
  left:0px;
  top:0px;
  width:430px;
  height:990px;
}
#u1249 {
  position:absolute;
  left:60px;
  top:60px;
  width:430px;
  height:990px;
}
#u1250 {
  position:absolute;
  left:2px;
  top:487px;
  width:426px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1251_div {
  position:absolute;
  left:0px;
  top:0px;
  width:380px;
  height:774px;
  background:inherit;
  background-color:rgba(228, 228, 228, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1251 {
  position:absolute;
  left:85px;
  top:160px;
  width:380px;
  height:774px;
}
#u1252 {
  position:absolute;
  left:2px;
  top:379px;
  width:376px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1253_div {
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:736px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1253 {
  position:absolute;
  left:87px;
  top:198px;
  width:376px;
  height:736px;
}
#u1254 {
  position:absolute;
  left:2px;
  top:360px;
  width:372px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1255_img {
  position:absolute;
  left:0px;
  top:0px;
  width:372px;
  height:16px;
}
#u1255 {
  position:absolute;
  left:91px;
  top:172px;
  width:372px;
  height:16px;
}
#u1256 {
  position:absolute;
  left:2px;
  top:0px;
  width:368px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1257_img {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:18px;
}
#u1257 {
  position:absolute;
  left:106px;
  top:212px;
  width:24px;
  height:18px;
}
#u1258 {
  position:absolute;
  left:2px;
  top:1px;
  width:20px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1259_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u1259 {
  position:absolute;
  left:239px;
  top:210px;
  width:73px;
  height:22px;
  font-size:18px;
}
#u1260 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u1261_img {
  position:absolute;
  left:0px;
  top:0px;
  width:379px;
  height:2px;
}
#u1261 {
  position:absolute;
  left:86px;
  top:242px;
  width:378px;
  height:1px;
}
#u1262 {
  position:absolute;
  left:2px;
  top:-8px;
  width:374px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1263_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1263 {
  position:absolute;
  left:391px;
  top:213px;
  width:57px;
  height:16px;
}
#u1264 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u1265_div {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u1265 {
  position:absolute;
  left:226px;
  top:302px;
  width:99px;
  height:28px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u1266 {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  white-space:nowrap;
}
#u1267_div {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u1267 {
  position:absolute;
  left:226px;
  top:340px;
  width:99px;
  height:19px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u1268 {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  white-space:nowrap;
}
#u1269_img {
  position:absolute;
  left:0px;
  top:0px;
  width:308px;
  height:2px;
}
#u1269 {
  position:absolute;
  left:122px;
  top:389px;
  width:307px;
  height:1px;
}
#u1270 {
  position:absolute;
  left:2px;
  top:-8px;
  width:303px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1271_div {
  position:absolute;
  left:0px;
  top:0px;
  width:285px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(174, 174, 174, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1271 {
  position:absolute;
  left:133px;
  top:500px;
  width:285px;
  height:40px;
}
#u1272 {
  position:absolute;
  left:2px;
  top:12px;
  width:281px;
  word-wrap:break-word;
}
