body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:2120px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:430px;
  height:880px;
}
#u0 {
  position:absolute;
  left:150px;
  top:40px;
  width:430px;
  height:880px;
}
#u1 {
  position:absolute;
  left:2px;
  top:432px;
  width:426px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:170px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2 {
  position:absolute;
  left:1820px;
  top:1380px;
  width:300px;
  height:170px;
}
#u3 {
  position:absolute;
  left:2px;
  top:77px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FF0000;
}
#u4 {
  position:absolute;
  left:191px;
  top:83px;
  width:65px;
  height:37px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FF0000;
}
#u5 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:61px;
}
#u6 {
  position:absolute;
  left:315px;
  top:260px;
  width:100px;
  height:60px;
}
#u7 {
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u8_div {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u8 {
  position:absolute;
  left:329px;
  top:338px;
  width:74px;
  height:22px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u9 {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  white-space:nowrap;
}
#u10_div {
  position:absolute;
  left:0px;
  top:0px;
  width:340px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(255, 255, 255, 0.349019607843137);
  -webkit-box-shadow:5px 5px 5px rgba(255, 255, 255, 0.349019607843137);
  box-shadow:5px 5px 5px rgba(255, 255, 255, 0.349019607843137);
}
#u10 {
  position:absolute;
  left:195px;
  top:430px;
  width:340px;
  height:50px;
}
#u11 {
  position:absolute;
  left:2px;
  top:17px;
  width:336px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12 {
  position:absolute;
  left:215px;
  top:441px;
  width:300px;
  height:28px;
}
#u12_input {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:28px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#AEAEAE;
  text-align:left;
}
#u13_div {
  position:absolute;
  left:0px;
  top:0px;
  width:340px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(255, 255, 255, 0.349019607843137);
  -webkit-box-shadow:5px 5px 5px rgba(255, 255, 255, 0.349019607843137);
  box-shadow:5px 5px 5px rgba(255, 255, 255, 0.349019607843137);
}
#u13 {
  position:absolute;
  left:195px;
  top:510px;
  width:340px;
  height:50px;
}
#u14 {
  position:absolute;
  left:2px;
  top:17px;
  width:336px;
  visibility:hidden;
  word-wrap:break-word;
}
#u15 {
  position:absolute;
  left:215px;
  top:521px;
  width:300px;
  height:28px;
}
#u15_input {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:28px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#AEAEAE;
  text-align:left;
}
#u16_div {
  position:absolute;
  left:0px;
  top:0px;
  width:340px;
  height:50px;
  background:inherit;
  background-color:rgba(174, 174, 174, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:10px;
  -moz-box-shadow:5px 5px 5px rgba(255, 255, 255, 0.349019607843137);
  -webkit-box-shadow:5px 5px 5px rgba(255, 255, 255, 0.349019607843137);
  box-shadow:5px 5px 5px rgba(255, 255, 255, 0.349019607843137);
  font-size:16px;
  color:#FFFFFF;
}
#u16 {
  position:absolute;
  left:195px;
  top:610px;
  width:340px;
  height:50px;
  font-size:16px;
  color:#FFFFFF;
}
#u17 {
  position:absolute;
  left:2px;
  top:16px;
  width:336px;
  word-wrap:break-word;
}
#u18_img {
  position:absolute;
  left:0px;
  top:-10px;
  width:150px;
  height:21px;
}
#u18p000 {
  position:absolute;
  left:-1px;
  top:0px;
  width:142px;
  height:1px;
}
#u18p000_img {
  position:absolute;
  left:0px;
  top:-10px;
  width:152px;
  height:21px;
}
#u18p001 {
  position:absolute;
  left:-1px;
  top:0px;
  width:2px;
  height:1px;
}
#u18p001_img {
  position:absolute;
  left:0px;
  top:-10px;
  width:12px;
  height:21px;
}
#u18p002 {
  position:absolute;
  left:126px;
  top:-11px;
  width:22px;
  height:22px;
}
#u18p002_img {
  position:absolute;
  left:0px;
  top:-10px;
  width:32px;
  height:42px;
}
#u18.compound {
  width:0px;
  height:0px;
}
#u18 {
  position:absolute;
  left:610px;
  top:454px;
  width:140px;
  height:1px;
}
#u19 {
  position:absolute;
  left:2px;
  top:-8px;
  width:136px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20_div {
  position:absolute;
  left:0px;
  top:0px;
  width:390px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF0000;
}
#u20 {
  position:absolute;
  left:760px;
  top:447px;
  width:390px;
  height:16px;
  color:#FF0000;
}
#u21 {
  position:absolute;
  left:0px;
  top:0px;
  width:390px;
  word-wrap:break-word;
}
#u22_img {
  position:absolute;
  left:0px;
  top:-10px;
  width:150px;
  height:21px;
}
#u22p000 {
  position:absolute;
  left:-1px;
  top:0px;
  width:142px;
  height:1px;
}
#u22p000_img {
  position:absolute;
  left:0px;
  top:-10px;
  width:152px;
  height:21px;
}
#u22p001 {
  position:absolute;
  left:-1px;
  top:0px;
  width:2px;
  height:1px;
}
#u22p001_img {
  position:absolute;
  left:0px;
  top:-10px;
  width:12px;
  height:21px;
}
#u22p002 {
  position:absolute;
  left:126px;
  top:-11px;
  width:22px;
  height:22px;
}
#u22p002_img {
  position:absolute;
  left:0px;
  top:-10px;
  width:32px;
  height:42px;
}
#u22.compound {
  width:0px;
  height:0px;
}
#u22 {
  position:absolute;
  left:610px;
  top:534px;
  width:140px;
  height:1px;
}
#u23 {
  position:absolute;
  left:2px;
  top:-8px;
  width:136px;
  visibility:hidden;
  word-wrap:break-word;
}
#u24_div {
  position:absolute;
  left:0px;
  top:0px;
  width:340px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF0000;
}
#u24 {
  position:absolute;
  left:760px;
  top:527px;
  width:340px;
  height:16px;
  color:#FF0000;
}
#u25 {
  position:absolute;
  left:0px;
  top:0px;
  width:340px;
  word-wrap:break-word;
}
#u26_div {
  position:absolute;
  left:0px;
  top:0px;
  width:390px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF0000;
}
#u26 {
  position:absolute;
  left:630px;
  top:428px;
  width:390px;
  height:16px;
  color:#FF0000;
}
#u27 {
  position:absolute;
  left:0px;
  top:0px;
  width:390px;
  word-wrap:break-word;
}
#u28_div {
  position:absolute;
  left:0px;
  top:0px;
  width:390px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF0000;
}
#u28 {
  position:absolute;
  left:630px;
  top:511px;
  width:390px;
  height:16px;
  color:#FF0000;
}
#u29 {
  position:absolute;
  left:0px;
  top:0px;
  width:390px;
  word-wrap:break-word;
}
