body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:8310px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u175_img {
  position:absolute;
  left:0px;
  top:0px;
  width:459px;
  height:816px;
}
#u175 {
  position:absolute;
  left:180px;
  top:94px;
  width:459px;
  height:816px;
}
#u176 {
  position:absolute;
  left:2px;
  top:400px;
  width:455px;
  visibility:hidden;
  word-wrap:break-word;
}
#u177_img {
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:49px;
}
#u177 {
  position:absolute;
  left:194px;
  top:130px;
  width:56px;
  height:49px;
}
#u178 {
  position:absolute;
  left:2px;
  top:16px;
  width:52px;
  visibility:hidden;
  word-wrap:break-word;
}
#u179_img {
  position:absolute;
  left:0px;
  top:0px;
  width:459px;
  height:816px;
}
#u179 {
  position:absolute;
  left:771px;
  top:94px;
  width:459px;
  height:816px;
}
#u180 {
  position:absolute;
  left:2px;
  top:400px;
  width:455px;
  visibility:hidden;
  word-wrap:break-word;
}
#u181_img {
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:49px;
}
#u181 {
  position:absolute;
  left:785px;
  top:130px;
  width:56px;
  height:49px;
}
#u182 {
  position:absolute;
  left:2px;
  top:16px;
  width:52px;
  visibility:hidden;
  word-wrap:break-word;
}
#u183_img {
  position:absolute;
  left:0px;
  top:0px;
  width:450px;
  height:125px;
}
#u183 {
  position:absolute;
  left:776px;
  top:260px;
  width:450px;
  height:125px;
}
#u184 {
  position:absolute;
  left:2px;
  top:54px;
  width:446px;
  visibility:hidden;
  word-wrap:break-word;
}
#u185_img {
  position:absolute;
  left:0px;
  top:0px;
  width:352px;
  height:365px;
}
#u185 {
  position:absolute;
  left:828px;
  top:385px;
  width:352px;
  height:365px;
}
#u186 {
  position:absolute;
  left:2px;
  top:174px;
  width:348px;
  visibility:hidden;
  word-wrap:break-word;
}
#u187_img {
  position:absolute;
  left:0px;
  top:0px;
  width:446px;
  height:124px;
}
#u187 {
  position:absolute;
  left:780px;
  top:403px;
  width:446px;
  height:124px;
}
#u188 {
  position:absolute;
  left:2px;
  top:54px;
  width:442px;
  visibility:hidden;
  word-wrap:break-word;
}
#u189_img {
  position:absolute;
  left:0px;
  top:0px;
  width:446px;
  height:124px;
}
#u189 {
  position:absolute;
  left:778px;
  top:546px;
  width:446px;
  height:124px;
}
#u190 {
  position:absolute;
  left:2px;
  top:54px;
  width:442px;
  visibility:hidden;
  word-wrap:break-word;
}
#u191_img {
  position:absolute;
  left:0px;
  top:0px;
  width:446px;
  height:124px;
}
#u191 {
  position:absolute;
  left:778px;
  top:691px;
  width:446px;
  height:124px;
}
#u192 {
  position:absolute;
  left:2px;
  top:54px;
  width:442px;
  visibility:hidden;
  word-wrap:break-word;
}
#u193_div {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF0000;
}
#u193 {
  position:absolute;
  left:60px;
  top:228px;
  width:85px;
  height:32px;
  color:#FF0000;
}
#u194 {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  white-space:nowrap;
}
#u195_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:170px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u195 {
  position:absolute;
  left:8010px;
  top:6610px;
  width:300px;
  height:170px;
}
#u196 {
  position:absolute;
  left:2px;
  top:77px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
