<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:dubbo="http://code.alibabatech.com/schema/dubbo"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://code.alibabatech.com/schema/dubbo
        http://code.alibabatech.com/schema/dubbo/dubbo.xsd
        ">

    <dubbo:reference id="pmsLookupService" version="1.0.0"
                     interface="com.zhuyitech.parking.pms.service.api.PmsLookupService"
                     check="false"
                     timeout="30000" retries="0" registry="fundamentalRegistry"/>
    <dubbo:reference id="carBrandService" version="1.0.0"
                     interface="com.zhuyitech.parking.pms.service.api.CarBrandService"
                     check="false"
                     timeout="30000" retries="0" registry="fundamentalRegistry"/>
    <dubbo:reference id="licensePrefixService" version="1.0.0"
                     interface="com.zhuyitech.parking.pms.service.api.LicensePrefixService"
                     check="false"
                     timeout="30000" retries="0" registry="fundamentalRegistry"/>
    <dubbo:reference id="vehicleRecordService" version="1.0.0"
                     interface="com.zhuyitech.parking.pms.service.api.VehicleRecordService"
                     check="false"
                     timeout="30000" retries="0" registry="fundamentalRegistry"/>
</beans>
