<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zhuyitech.parking.data.mapper.PassingVehicleRecordMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.zhuyitech.parking.data.domain.PassingVehicleRecord">
        <id column="id" property="id"/>
        <result property="parkingId" column="parkingId"/>
        <result property="machine" column="machine"/>
        <result property="hikPassingId" column="hikPassingId"/>
        <result property="aliPassingId" column="aliPassingId"/>
        <result property="parkingLotId" column="parkingLotId"/>
        <result property="plateNumber" column="plateNumber"/>
        <result property="plateColor" column="plateColor"/>
        <result property="carType" column="carType"/>
        <result property="proofStatus" column="proofStatus"/>
        <result property="dataSource" column="dataSource"/>
        <result property="confidence" column="confidence"/>
        <result property="plateNumberConfidence" column="plateNumberConfidence"/>
        <result property="passCarType" column="passCarType"/>
        <result property="passPhoto" column="passPhoto"/>
        <result property="passPhotoThree" column="passPhotoThree"/>
        <result property="passTime" column="passTime"/>
        <result column="creatorUserId" property="creatorUserId"/>
        <result column="creationTime" property="creationTime"/>
        <result column="lastModifierUserId" property="lastModifierUserId"/>
        <result column="lastModificationTime" property="lastModificationTime"/>
        <result column="deleterUserId" property="deleterUserId"/>
        <result column="deletionTime" property="deletionTime"/>
        <result column="deleted" property="deleted"/>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
    id,parkingId,machine,hikPassingId,aliPassingId, parkingLotId,plateNumber,plateColor,carType,proofStatus,dataSource,confidence,
    plateNumberConfidence,passCarType,passPhoto,passPhotoThree,passTime,creatorUserId,
    creationTime,lastModifierUserId,lastModificationTime,deleterUserId,deletionTime,deleted
    </sql>

    <select id="findLastEntryRecord" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from up_passing_vehicle_record
        <where>
            ${ew.sqlSegment}
        </where>
        ORDER BY passTime DESC limit 1
    </select>

</mapper>
