body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:3412px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u92_img {
  position:absolute;
  left:0px;
  top:0px;
  width:430px;
  height:1139px;
}
#u92 {
  position:absolute;
  left:199px;
  top:327px;
  width:430px;
  height:1139px;
}
#u93 {
  position:absolute;
  left:2px;
  top:562px;
  width:426px;
  visibility:hidden;
  word-wrap:break-word;
}
#u94_div {
  position:absolute;
  left:0px;
  top:0px;
  width:380px;
  height:646px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u94 {
  position:absolute;
  left:224px;
  top:687px;
  width:380px;
  height:646px;
}
#u95 {
  position:absolute;
  left:2px;
  top:315px;
  width:376px;
  visibility:hidden;
  word-wrap:break-word;
}
#u96_img {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:26px;
}
#u96 {
  position:absolute;
  left:273px;
  top:1272px;
  width:42px;
  height:25px;
  font-size:11px;
  color:#000000;
}
#u97 {
  position:absolute;
  left:2px;
  top:6px;
  width:38px;
  word-wrap:break-word;
}
#u98_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#000000;
}
#u98 {
  position:absolute;
  left:280px;
  top:1303px;
  width:29px;
  height:16px;
  color:#000000;
}
#u99 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u100_img {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:26px;
}
#u100 {
  position:absolute;
  left:399px;
  top:1272px;
  width:42px;
  height:25px;
  font-size:11px;
  color:#949494;
}
#u101 {
  position:absolute;
  left:2px;
  top:6px;
  width:38px;
  word-wrap:break-word;
}
#u102_img {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:26px;
}
#u102 {
  position:absolute;
  left:514px;
  top:1272px;
  width:42px;
  height:25px;
  font-size:11px;
  color:#949494;
}
#u103 {
  position:absolute;
  left:2px;
  top:6px;
  width:38px;
  word-wrap:break-word;
}
#u104_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#949494;
}
#u104 {
  position:absolute;
  left:521px;
  top:1303px;
  width:29px;
  height:16px;
  color:#949494;
}
#u105 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u106_div {
  position:absolute;
  left:0px;
  top:0px;
  width:380px;
  height:174px;
  background:inherit;
  background-color:rgba(81, 81, 81, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u106 {
  position:absolute;
  left:224px;
  top:431px;
  width:380px;
  height:174px;
  opacity:0.8;
}
#u107 {
  position:absolute;
  left:2px;
  top:79px;
  width:376px;
  visibility:hidden;
  word-wrap:break-word;
}
#u108_img {
  position:absolute;
  left:0px;
  top:0px;
  width:372px;
  height:16px;
}
#u108 {
  position:absolute;
  left:228px;
  top:437px;
  width:372px;
  height:16px;
}
#u109 {
  position:absolute;
  left:2px;
  top:0px;
  width:368px;
  visibility:hidden;
  word-wrap:break-word;
}
#u110 {
  position:absolute;
  left:236px;
  top:470px;
  width:357px;
  height:25px;
}
#u110_input {
  position:absolute;
  left:0px;
  top:0px;
  width:357px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#797979;
  text-align:left;
}
#u111_div {
  position:absolute;
  left:0px;
  top:0px;
  width:357px;
  height:76px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:8px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u111 {
  position:absolute;
  left:236px;
  top:513px;
  width:357px;
  height:76px;
}
#u112 {
  position:absolute;
  left:2px;
  top:30px;
  width:353px;
  visibility:hidden;
  word-wrap:break-word;
}
#u113_img {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:18px;
}
#u113 {
  position:absolute;
  left:250px;
  top:530px;
  width:34px;
  height:17px;
  font-size:8px;
  color:#949494;
}
#u114 {
  position:absolute;
  left:2px;
  top:4px;
  width:30px;
  word-wrap:break-word;
}
#u115_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#868686;
}
#u115 {
  position:absolute;
  left:294px;
  top:531px;
  width:29px;
  height:16px;
  color:#868686;
}
#u116 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u117_div {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#868686;
}
#u117 {
  position:absolute;
  left:253px;
  top:557px;
  width:21px;
  height:22px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#868686;
}
#u118 {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  white-space:nowrap;
}
#u119_div {
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#868686;
}
#u119 {
  position:absolute;
  left:274px;
  top:547px;
  width:19px;
  height:22px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#868686;
}
#u120 {
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  white-space:nowrap;
}
#u121_div {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#868686;
}
#u121 {
  position:absolute;
  left:280px;
  top:557px;
  width:14px;
  height:22px;
  font-size:18px;
  color:#868686;
}
#u122 {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  white-space:nowrap;
}
#u123_div {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#868686;
}
#u123 {
  position:absolute;
  left:301px;
  top:560px;
  width:41px;
  height:16px;
  color:#868686;
}
#u124 {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  white-space:nowrap;
}
#u125_div {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#868686;
}
#u125 {
  position:absolute;
  left:342px;
  top:552px;
  width:15px;
  height:16px;
  color:#868686;
}
#u126 {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  white-space:nowrap;
}
#u127_div {
  position:absolute;
  left:0px;
  top:0px;
  width:11px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#868686;
}
#u127 {
  position:absolute;
  left:348px;
  top:560px;
  width:11px;
  height:16px;
  color:#868686;
}
#u128 {
  position:absolute;
  left:0px;
  top:0px;
  width:11px;
  white-space:nowrap;
}
#u129_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#868686;
}
#u129 {
  position:absolute;
  left:462px;
  top:560px;
  width:57px;
  height:16px;
  color:#868686;
}
#u130 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u131_div {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u131 {
  position:absolute;
  left:529px;
  top:560px;
  width:15px;
  height:16px;
  font-size:12px;
}
#u132 {
  position:absolute;
  left:2px;
  top:0px;
  width:11px;
  word-wrap:break-word;
}
#u133_div {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u133 {
  position:absolute;
  left:548px;
  top:560px;
  width:15px;
  height:16px;
  font-size:12px;
}
#u134 {
  position:absolute;
  left:2px;
  top:0px;
  width:11px;
  word-wrap:break-word;
}
#u135_img {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:18px;
}
#u135 {
  position:absolute;
  left:462px;
  top:533px;
  width:34px;
  height:17px;
  font-size:8px;
  color:#949494;
}
#u136 {
  position:absolute;
  left:2px;
  top:4px;
  width:30px;
  word-wrap:break-word;
}
#u137_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#868686;
}
#u137 {
  position:absolute;
  left:506px;
  top:534px;
  width:29px;
  height:16px;
  color:#868686;
}
#u138 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u139_div {
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:92px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u139 {
  position:absolute;
  left:226px;
  top:605px;
  width:376px;
  height:92px;
}
#u140 {
  position:absolute;
  left:2px;
  top:38px;
  width:372px;
  visibility:hidden;
  word-wrap:break-word;
}
#u141 {
  position:absolute;
  left:245px;
  top:623px;
}
#u141_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u141_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u142_img {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:25px;
}
#u142 {
  position:absolute;
  left:12px;
  top:0px;
  width:40px;
  height:24px;
  font-size:12px;
}
#u143 {
  position:absolute;
  left:2px;
  top:4px;
  width:36px;
  word-wrap:break-word;
}
#u144_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u144 {
  position:absolute;
  left:0px;
  top:34px;
  width:65px;
  height:19px;
  font-size:16px;
}
#u145 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u146_img {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:25px;
}
#u146 {
  position:absolute;
  left:348px;
  top:623px;
  width:40px;
  height:24px;
  font-size:12px;
}
#u147 {
  position:absolute;
  left:2px;
  top:4px;
  width:36px;
  word-wrap:break-word;
}
#u148_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u148 {
  position:absolute;
  left:342px;
  top:657px;
  width:65px;
  height:19px;
  font-size:16px;
}
#u149 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u150_img {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:25px;
}
#u150 {
  position:absolute;
  left:436px;
  top:623px;
  width:40px;
  height:24px;
  font-size:12px;
}
#u151 {
  position:absolute;
  left:2px;
  top:4px;
  width:36px;
  word-wrap:break-word;
}
#u152_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u152 {
  position:absolute;
  left:432px;
  top:657px;
  width:65px;
  height:19px;
  font-size:16px;
}
#u153 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u154_img {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:25px;
}
#u154 {
  position:absolute;
  left:533px;
  top:623px;
  width:40px;
  height:24px;
  font-size:12px;
}
#u155 {
  position:absolute;
  left:2px;
  top:4px;
  width:36px;
  word-wrap:break-word;
}
#u156_div {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u156 {
  position:absolute;
  left:537px;
  top:657px;
  width:33px;
  height:19px;
  font-size:16px;
}
#u157 {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  white-space:nowrap;
}
#u158_div {
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:239px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u158 {
  position:absolute;
  left:226px;
  top:766px;
  width:376px;
  height:239px;
}
#u159 {
  position:absolute;
  left:2px;
  top:112px;
  width:372px;
  visibility:hidden;
  word-wrap:break-word;
}
#u160_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#949494;
}
#u160 {
  position:absolute;
  left:406px;
  top:1303px;
  width:29px;
  height:16px;
  color:#949494;
}
#u161 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u162_div {
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u162 {
  position:absolute;
  left:235px;
  top:776px;
  width:94px;
  height:19px;
}
#u163 {
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  white-space:nowrap;
}
#u164_div {
  position:absolute;
  left:0px;
  top:0px;
  width:205px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#868686;
}
#u164 {
  position:absolute;
  left:366px;
  top:778px;
  width:205px;
  height:15px;
  font-size:12px;
  color:#868686;
}
#u165 {
  position:absolute;
  left:0px;
  top:0px;
  width:205px;
  white-space:nowrap;
}
#u166_img {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:19px;
}
#u166 {
  position:absolute;
  left:575px;
  top:776px;
  width:22px;
  height:18px;
  font-size:8px;
  color:#949494;
}
#u167 {
  position:absolute;
  left:2px;
  top:4px;
  width:18px;
  word-wrap:break-word;
}
#u168_img {
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:220px;
}
#u168 {
  position:absolute;
  left:226px;
  top:804px;
  width:376px;
  height:220px;
}
#u169 {
  position:absolute;
  left:2px;
  top:102px;
  width:372px;
  visibility:hidden;
  word-wrap:break-word;
}
#u170_img {
  position:absolute;
  left:0px;
  top:-10px;
  width:191px;
  height:21px;
}
#u170p000 {
  position:absolute;
  left:-1px;
  top:0px;
  width:183px;
  height:1px;
}
#u170p000_img {
  position:absolute;
  left:-1px;
  top:-10px;
  width:194px;
  height:22px;
}
#u170p001 {
  position:absolute;
  left:168px;
  top:-10px;
  width:20px;
  height:20px;
}
#u170p001_img {
  position:absolute;
  left:0px;
  top:-10px;
  width:30px;
  height:40px;
}
#u170.compound {
  width:0px;
  height:0px;
}
#u170 {
  position:absolute;
  left:614px;
  top:714px;
  width:181px;
  height:1px;
}
#u171 {
  position:absolute;
  left:2px;
  top:-8px;
  width:177px;
  visibility:hidden;
  word-wrap:break-word;
}
#u172_div {
  position:absolute;
  left:0px;
  top:0px;
  width:225px;
  height:64px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF0000;
}
#u172 {
  position:absolute;
  left:633px;
  top:725px;
  width:225px;
  height:64px;
  color:#FF0000;
}
#u173 {
  position:absolute;
  left:0px;
  top:0px;
  width:225px;
  white-space:nowrap;
}
#u174 {
  position:absolute;
  left:226px;
  top:697px;
}
#u174_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u174_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u175_div {
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:69px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u175 {
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:69px;
}
#u176 {
  position:absolute;
  left:2px;
  top:26px;
  width:372px;
  visibility:hidden;
  word-wrap:break-word;
}
#u177_img {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:50px;
}
#u177 {
  position:absolute;
  left:31px;
  top:10px;
  width:32px;
  height:49px;
}
#u178 {
  position:absolute;
  left:2px;
  top:8px;
  width:28px;
  word-wrap:break-word;
}
#u179_div {
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u179 {
  position:absolute;
  left:73px;
  top:16px;
  width:125px;
  height:16px;
}
#u180 {
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  white-space:nowrap;
}
#u181_div {
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u181 {
  position:absolute;
  left:73px;
  top:39px;
  width:125px;
  height:16px;
}
#u182 {
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  white-space:nowrap;
}
#u183_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:170px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u183 {
  position:absolute;
  left:3112px;
  top:1835px;
  width:300px;
  height:170px;
}
#u184 {
  position:absolute;
  left:2px;
  top:77px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u185_img {
  position:absolute;
  left:0px;
  top:-10px;
  width:191px;
  height:21px;
}
#u185p000 {
  position:absolute;
  left:-1px;
  top:0px;
  width:183px;
  height:1px;
}
#u185p000_img {
  position:absolute;
  left:0px;
  top:-10px;
  width:194px;
  height:22px;
}
#u185p001 {
  position:absolute;
  left:168px;
  top:-10px;
  width:20px;
  height:20px;
}
#u185p001_img {
  position:absolute;
  left:-1px;
  top:-10px;
  width:32px;
  height:40px;
}
#u185.compound {
  width:0px;
  height:0px;
}
#u185 {
  position:absolute;
  left:633px;
  top:962px;
  width:181px;
  height:1px;
}
#u186 {
  position:absolute;
  left:2px;
  top:-8px;
  width:177px;
  visibility:hidden;
  word-wrap:break-word;
}
#u187_div {
  position:absolute;
  left:0px;
  top:0px;
  width:201px;
  height:48px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF0000;
}
#u187 {
  position:absolute;
  left:652px;
  top:973px;
  width:201px;
  height:48px;
  color:#FF0000;
}
#u188 {
  position:absolute;
  left:0px;
  top:0px;
  width:201px;
  white-space:nowrap;
}
#u189_img {
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:28px;
}
#u189 {
  position:absolute;
  left:400px;
  top:926px;
  width:36px;
  height:28px;
}
#u190 {
  position:absolute;
  left:2px;
  top:6px;
  width:32px;
  visibility:hidden;
  word-wrap:break-word;
}
#u191_img {
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:2px;
}
#u191 {
  position:absolute;
  left:226px;
  top:1034px;
  width:150px;
  height:1px;
}
#u192 {
  position:absolute;
  left:2px;
  top:-8px;
  width:146px;
  visibility:hidden;
  word-wrap:break-word;
}
#u193_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#6B6B6B;
}
#u193 {
  position:absolute;
  left:386px;
  top:1026px;
  width:57px;
  height:16px;
  color:#6B6B6B;
}
#u194 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u195_img {
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:2px;
}
#u195 {
  position:absolute;
  left:453px;
  top:1034px;
  width:150px;
  height:1px;
}
#u196 {
  position:absolute;
  left:2px;
  top:-8px;
  width:146px;
  visibility:hidden;
  word-wrap:break-word;
}
#u197 {
  position:absolute;
  left:225px;
  top:1052px;
}
#u197_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u197_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u198_div {
  position:absolute;
  left:0px;
  top:0px;
  width:187px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(201, 201, 201, 1);
  border-left:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#199ED8;
}
#u198 {
  position:absolute;
  left:0px;
  top:0px;
  width:187px;
  height:25px;
  color:#199ED8;
}
#u199 {
  position:absolute;
  left:2px;
  top:4px;
  width:183px;
  word-wrap:break-word;
}
#u200 {
  position:absolute;
  left:412px;
  top:1052px;
}
#u200_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u200_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u201_div {
  position:absolute;
  left:0px;
  top:0px;
  width:191px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(201, 201, 201, 1);
  border-left:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u201 {
  position:absolute;
  left:0px;
  top:0px;
  width:191px;
  height:25px;
}
#u202 {
  position:absolute;
  left:2px;
  top:4px;
  width:187px;
  word-wrap:break-word;
}
#u203 {
  position:absolute;
  left:245px;
  top:1094px;
}
#u203_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u203_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u204_div {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u204 {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:19px;
  font-size:16px;
}
#u205 {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  white-space:nowrap;
}
#u206_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#A1A1A1;
}
#u206 {
  position:absolute;
  left:0px;
  top:29px;
  width:57px;
  height:16px;
  color:#A1A1A1;
}
#u207 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u208_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#A1A1A1;
}
#u208 {
  position:absolute;
  left:74px;
  top:29px;
  width:29px;
  height:16px;
  color:#A1A1A1;
}
#u209 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u210_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:27px;
  background:inherit;
  background-color:rgba(50, 150, 250, 1);
  border:none;
  border-radius:6px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u210 {
  position:absolute;
  left:264px;
  top:0px;
  width:73px;
  height:27px;
  color:#FFFFFF;
}
#u211 {
  position:absolute;
  left:2px;
  top:6px;
  width:69px;
  word-wrap:break-word;
}
#u212_div {
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#A1A1A1;
}
#u212 {
  position:absolute;
  left:284px;
  top:37px;
  width:34px;
  height:16px;
  color:#A1A1A1;
}
#u213 {
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  white-space:nowrap;
}
#u214 {
  position:absolute;
  left:245px;
  top:1172px;
}
#u214_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u214_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u215_div {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u215 {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:19px;
  font-size:16px;
}
#u216 {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  white-space:nowrap;
}
#u217_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#A1A1A1;
}
#u217 {
  position:absolute;
  left:0px;
  top:29px;
  width:57px;
  height:16px;
  color:#A1A1A1;
}
#u218 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u219_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#A1A1A1;
}
#u219 {
  position:absolute;
  left:74px;
  top:29px;
  width:29px;
  height:16px;
  color:#A1A1A1;
}
#u220 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u221_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:27px;
  background:inherit;
  background-color:rgba(50, 150, 250, 1);
  border:none;
  border-radius:6px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u221 {
  position:absolute;
  left:264px;
  top:0px;
  width:73px;
  height:27px;
  color:#FFFFFF;
}
#u222 {
  position:absolute;
  left:2px;
  top:6px;
  width:69px;
  word-wrap:break-word;
}
#u223_div {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#A1A1A1;
}
#u223 {
  position:absolute;
  left:284px;
  top:37px;
  width:35px;
  height:16px;
  color:#A1A1A1;
}
#u224 {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  white-space:nowrap;
}
#u225_img {
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:2px;
}
#u225 {
  position:absolute;
  left:227px;
  top:1254px;
  width:375px;
  height:1px;
}
#u226 {
  position:absolute;
  left:2px;
  top:-8px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u227_img {
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:28px;
}
#u227 {
  position:absolute;
  left:490px;
  top:916px;
  width:36px;
  height:28px;
}
#u228 {
  position:absolute;
  left:2px;
  top:6px;
  width:32px;
  visibility:hidden;
  word-wrap:break-word;
}
#u229_div {
  position:absolute;
  left:0px;
  top:0px;
  width:661px;
  height:128px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-style:normal;
  color:#FF0000;
}
#u229 {
  position:absolute;
  left:131px;
  top:146px;
  width:661px;
  height:128px;
  font-family:'Arial Normal', 'Arial';
  font-style:normal;
  color:#FF0000;
}
#u230 {
  position:absolute;
  left:0px;
  top:0px;
  width:661px;
  white-space:nowrap;
}
#u231_img {
  position:absolute;
  left:0px;
  top:0px;
  width:342px;
  height:100px;
}
#u231 {
  position:absolute;
  left:802px;
  top:129px;
  width:342px;
  height:100px;
}
#u232 {
  position:absolute;
  left:2px;
  top:42px;
  width:338px;
  visibility:hidden;
  word-wrap:break-word;
}
#u233_div {
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#FF0000;
}
#u233 {
  position:absolute;
  left:678px;
  top:818px;
  width:181px;
  height:24px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#FF0000;
}
#u234 {
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  white-space:nowrap;
}
#u235_img {
  position:absolute;
  left:0px;
  top:-10px;
  width:224px;
  height:21px;
}
#u235p000 {
  position:absolute;
  left:-1px;
  top:-1px;
  width:216px;
  height:3px;
  -webkit-transform:rotate(-15deg);
  -moz-transform:rotate(-15deg);
  -ms-transform:rotate(-15deg);
  transform:rotate(-15deg);
}
#u235p000_img {
  position:absolute;
  left:-1px;
  top:-10px;
  width:228px;
  height:24px;
}
#u235p001 {
  position:absolute;
  left:197px;
  top:-37px;
  width:20px;
  height:20px;
}
#u235p001_img {
  position:absolute;
  left:-1px;
  top:-11px;
  width:32px;
  height:42px;
}
#u235.compound {
  width:0px;
  height:0px;
}
#u235 {
  position:absolute;
  left:458px;
  top:860px;
  width:214px;
  height:1px;
}
#u236 {
  position:absolute;
  left:2px;
  top:-8px;
  width:210px;
  visibility:hidden;
  word-wrap:break-word;
}
#u237_img {
  position:absolute;
  left:0px;
  top:0px;
  width:741px;
  height:42px;
}
#u237 {
  position:absolute;
  left:219px;
  top:367px;
  width:741px;
  height:42px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:36px;
  color:#FF0000;
}
#u238 {
  position:absolute;
  left:0px;
  top:0px;
  width:741px;
  white-space:nowrap;
}
#u239_img {
  position:absolute;
  left:0px;
  top:-10px;
  width:45px;
  height:21px;
}
#u239p000 {
  position:absolute;
  left:-1px;
  top:0px;
  width:37px;
  height:1px;
}
#u239p000_img {
  position:absolute;
  left:0px;
  top:-11px;
  width:48px;
  height:22px;
}
#u239p001 {
  position:absolute;
  left:22px;
  top:-10px;
  width:20px;
  height:20px;
}
#u239p001_img {
  position:absolute;
  left:-1px;
  top:-11px;
  width:32px;
  height:42px;
}
#u239.compound {
  width:0px;
  height:0px;
}
#u239 {
  position:absolute;
  left:633px;
  top:481px;
  width:35px;
  height:1px;
}
#u240 {
  position:absolute;
  left:2px;
  top:-8px;
  width:31px;
  visibility:hidden;
  word-wrap:break-word;
}
#u241_div {
  position:absolute;
  left:0px;
  top:0px;
  width:339px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF0000;
}
#u241 {
  position:absolute;
  left:678px;
  top:474px;
  width:339px;
  height:16px;
  color:#FF0000;
}
#u242 {
  position:absolute;
  left:0px;
  top:0px;
  width:339px;
  white-space:nowrap;
}
#u243_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:482px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u243 {
  position:absolute;
  left:1210px;
  top:508px;
  width:300px;
  height:482px;
}
#u244 {
  position:absolute;
  left:2px;
  top:233px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u245_div {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#FF0000;
}
#u245 {
  position:absolute;
  left:1210px;
  top:479px;
  width:129px;
  height:16px;
  font-size:16px;
  color:#FF0000;
}
#u246 {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  white-space:nowrap;
}
#u247_div {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u247 {
  position:absolute;
  left:1315px;
  top:534px;
  width:91px;
  height:22px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u248 {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  white-space:nowrap;
}
#u249_img {
  position:absolute;
  left:0px;
  top:-10px;
  width:45px;
  height:21px;
}
#u249p000 {
  position:absolute;
  left:-1px;
  top:0px;
  width:37px;
  height:1px;
}
#u249p000_img {
  position:absolute;
  left:-1px;
  top:-11px;
  width:48px;
  height:22px;
}
#u249p001 {
  position:absolute;
  left:22px;
  top:-10px;
  width:20px;
  height:20px;
}
#u249p001_img {
  position:absolute;
  left:0px;
  top:-11px;
  width:30px;
  height:42px;
}
#u249.compound {
  width:0px;
  height:0px;
}
#u249 {
  position:absolute;
  left:1510px;
  top:541px;
  width:35px;
  height:1px;
}
#u250 {
  position:absolute;
  left:2px;
  top:-8px;
  width:31px;
  visibility:hidden;
  word-wrap:break-word;
}
#u251_div {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF0000;
}
#u251 {
  position:absolute;
  left:1555px;
  top:534px;
  width:85px;
  height:16px;
  color:#FF0000;
}
#u252 {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  white-space:nowrap;
}
#u253_div {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u253 {
  position:absolute;
  left:1304px;
  top:592px;
  width:113px;
  height:19px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u254 {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  white-space:nowrap;
}
#u255_div {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u255 {
  position:absolute;
  left:1333px;
  top:625px;
  width:55px;
  height:22px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u256 {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  white-space:nowrap;
}
#u257_img {
  position:absolute;
  left:0px;
  top:-10px;
  width:45px;
  height:21px;
}
#u257p000 {
  position:absolute;
  left:-1px;
  top:0px;
  width:37px;
  height:1px;
}
#u257p000_img {
  position:absolute;
  left:-1px;
  top:-11px;
  width:48px;
  height:22px;
}
#u257p001 {
  position:absolute;
  left:22px;
  top:-10px;
  width:20px;
  height:20px;
}
#u257p001_img {
  position:absolute;
  left:0px;
  top:-11px;
  width:30px;
  height:42px;
}
#u257.compound {
  width:0px;
  height:0px;
}
#u257 {
  position:absolute;
  left:1510px;
  top:601px;
  width:35px;
  height:1px;
  color:#330099;
}
#u258 {
  position:absolute;
  left:2px;
  top:-8px;
  width:31px;
  visibility:hidden;
  word-wrap:break-word;
}
#u259_div {
  position:absolute;
  left:0px;
  top:0px;
  width:351px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#330099;
}
#u259 {
  position:absolute;
  left:1555px;
  top:594px;
  width:351px;
  height:16px;
  color:#330099;
}
#u260 {
  position:absolute;
  left:0px;
  top:0px;
  width:351px;
  white-space:nowrap;
}
#u261_div {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u261 {
  position:absolute;
  left:1297px;
  top:804px;
  width:127px;
  height:22px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u262 {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  white-space:nowrap;
}
#u263_img {
  position:absolute;
  left:0px;
  top:-10px;
  width:45px;
  height:21px;
}
#u263p000 {
  position:absolute;
  left:-1px;
  top:0px;
  width:37px;
  height:1px;
}
#u263p000_img {
  position:absolute;
  left:-1px;
  top:-10px;
  width:48px;
  height:22px;
}
#u263p001 {
  position:absolute;
  left:22px;
  top:-10px;
  width:20px;
  height:20px;
}
#u263p001_img {
  position:absolute;
  left:0px;
  top:-10px;
  width:30px;
  height:40px;
}
#u263.compound {
  width:0px;
  height:0px;
}
#u263 {
  position:absolute;
  left:1510px;
  top:814px;
  width:35px;
  height:1px;
}
#u264 {
  position:absolute;
  left:2px;
  top:-8px;
  width:31px;
  visibility:hidden;
  word-wrap:break-word;
}
#u265_div {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF0000;
}
#u265 {
  position:absolute;
  left:1555px;
  top:807px;
  width:99px;
  height:16px;
  color:#FF0000;
}
#u266 {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  white-space:nowrap;
}
#u267_img {
  position:absolute;
  left:0px;
  top:-10px;
  width:45px;
  height:21px;
}
#u267p000 {
  position:absolute;
  left:-1px;
  top:0px;
  width:37px;
  height:1px;
}
#u267p000_img {
  position:absolute;
  left:0px;
  top:-11px;
  width:48px;
  height:22px;
}
#u267p001 {
  position:absolute;
  left:22px;
  top:-10px;
  width:20px;
  height:20px;
}
#u267p001_img {
  position:absolute;
  left:-1px;
  top:-11px;
  width:32px;
  height:42px;
}
#u267.compound {
  width:0px;
  height:0px;
}
#u267 {
  position:absolute;
  left:633px;
  top:567px;
  width:35px;
  height:1px;
  color:#FFCC33;
}
#u268 {
  position:absolute;
  left:2px;
  top:-8px;
  width:31px;
  visibility:hidden;
  word-wrap:break-word;
}
#u269_div {
  position:absolute;
  left:0px;
  top:0px;
  width:479px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#330099;
}
#u269 {
  position:absolute;
  left:678px;
  top:560px;
  width:479px;
  height:16px;
  color:#330099;
}
#u270 {
  position:absolute;
  left:0px;
  top:0px;
  width:479px;
  white-space:nowrap;
}
