<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:dubbo="http://code.alibabatech.com/schema/dubbo"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://code.alibabatech.com/schema/dubbo
        http://code.alibabatech.com/schema/dubbo/dubbo.xsd
        ">

    <dubbo:reference id="parkingInfoService" version="1.0.0"
                     interface="com.zhuyitech.parking.data.service.api.ParkingInfoService"
                     check="false"
                     timeout="18000000" retries="0" registry="fundamentalRegistry"/>
    <dubbo:reference id="passingVehicleRecordService" version="1.0.0"
                     interface="com.zhuyitech.parking.data.service.api.PassingVehicleRecordService"
                     check="false"
                     timeout="18000000" retries="0" registry="fundamentalRegistry"/>
    <dubbo:reference id="parkingRecordService" version="1.0.0"
                     interface="com.zhuyitech.parking.data.service.api.ParkingRecordService"
                     check="false"
                     timeout="18000000" retries="0" registry="fundamentalRegistry"/>
    <dubbo:reference id="parkingOrderService" version="1.0.0"
                     interface="com.zhuyitech.parking.data.service.api.ParkingOrderService"
                     check="false"
                     timeout="18000000" retries="0" registry="fundamentalRegistry"/>
</beans>
