body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:7988px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1640_img {
  position:absolute;
  left:0px;
  top:0px;
  width:430px;
  height:880px;
}
#u1640 {
  position:absolute;
  left:210px;
  top:60px;
  width:430px;
  height:880px;
}
#u1641 {
  position:absolute;
  left:2px;
  top:432px;
  width:426px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1642_div {
  position:absolute;
  left:0px;
  top:0px;
  width:380px;
  height:674px;
  background:inherit;
  background-color:rgba(228, 228, 228, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1642 {
  position:absolute;
  left:235px;
  top:163px;
  width:380px;
  height:674px;
}
#u1643 {
  position:absolute;
  left:2px;
  top:329px;
  width:376px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1644_div {
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:637px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1644 {
  position:absolute;
  left:237px;
  top:200px;
  width:376px;
  height:637px;
}
#u1645 {
  position:absolute;
  left:2px;
  top:310px;
  width:372px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1646_img {
  position:absolute;
  left:0px;
  top:0px;
  width:372px;
  height:16px;
}
#u1646 {
  position:absolute;
  left:241px;
  top:172px;
  width:372px;
  height:16px;
}
#u1647 {
  position:absolute;
  left:2px;
  top:0px;
  width:368px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1648_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:170px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1648 {
  position:absolute;
  left:1038px;
  top:1476px;
  width:300px;
  height:170px;
}
#u1649 {
  position:absolute;
  left:2px;
  top:77px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1650_img {
  position:absolute;
  left:0px;
  top:0px;
  width:301px;
  height:2px;
}
#u1650 {
  position:absolute;
  left:247px;
  top:452px;
  width:300px;
  height:1px;
}
#u1651 {
  position:absolute;
  left:2px;
  top:-8px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1652_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#FF0000;
}
#u1652 {
  position:absolute;
  left:247px;
  top:305px;
  width:73px;
  height:22px;
  font-size:18px;
  color:#FF0000;
}
#u1653 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u1654 {
  position:absolute;
  left:247px;
  top:343px;
}
#u1654_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u1654_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u1655_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:158px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1655 {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:158px;
}
#u1656 {
  position:absolute;
  left:2px;
  top:71px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1657_div {
  position:absolute;
  left:0px;
  top:0px;
  width:241px;
  height:38px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u1657 {
  position:absolute;
  left:30px;
  top:11px;
  width:241px;
  height:38px;
  font-size:16px;
}
#u1658 {
  position:absolute;
  left:0px;
  top:0px;
  width:241px;
  white-space:nowrap;
}
#u1659_div {
  position:absolute;
  left:0px;
  top:0px;
  width:211px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#6B6B6B;
}
#u1659 {
  position:absolute;
  left:30px;
  top:59px;
  width:211px;
  height:32px;
  color:#6B6B6B;
}
#u1660 {
  position:absolute;
  left:0px;
  top:0px;
  width:211px;
  white-space:nowrap;
}
#u1661_div {
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1661 {
  position:absolute;
  left:241px;
  top:59px;
  width:39px;
  height:32px;
}
#u1662 {
  position:absolute;
  left:2px;
  top:8px;
  width:35px;
  word-wrap:break-word;
}
#u1663_img {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:23px;
}
#u1663 {
  position:absolute;
  left:10px;
  top:125px;
  width:58px;
  height:22px;
}
#u1664 {
  position:absolute;
  left:2px;
  top:3px;
  width:54px;
  word-wrap:break-word;
}
#u1665_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#6B6B6B;
}
#u1665 {
  position:absolute;
  left:78px;
  top:128px;
  width:57px;
  height:16px;
  color:#6B6B6B;
}
#u1666 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u1667_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:170px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1667 {
  position:absolute;
  left:7688px;
  top:8192px;
  width:300px;
  height:170px;
}
#u1668 {
  position:absolute;
  left:2px;
  top:77px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1669_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:45px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u1669 {
  position:absolute;
  left:780px;
  top:131px;
  width:300px;
  height:45px;
  font-size:18px;
}
#u1670 {
  position:absolute;
  left:2px;
  top:12px;
  width:296px;
  word-wrap:break-word;
}
#u1671_div {
  position:absolute;
  left:0px;
  top:0px;
  width:122px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FF0000;
}
#u1671 {
  position:absolute;
  left:257px;
  top:103px;
  width:122px;
  height:37px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FF0000;
}
#u1672 {
  position:absolute;
  left:0px;
  top:0px;
  width:122px;
  white-space:nowrap;
}
