<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zoeeasy.cloud.charge.mapper.HolidayCalendarMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.zoeeasy.cloud.charge.domain.HolidayCalendarEntity">
        <id column="id" property="id"/>
        <result property="tenantId" column="tenantId"/>
        <result property="date" column="date"/>
        <result property="holidayId" column="holidayId"/>
        <result property="workDay" column="workDay"/>
        <result property="description" column="description"/>
        <result property="creatorUserId" column="creatorUserId"/>
        <result property="creationTime" column="creationTime"/>
        <result property="lastModifierUserId" column="lastModifierUserId"/>
        <result property="lastModificationTime" column="lastModificationTime"/>
        <result property="deleterUserId" column="deleterUserId"/>
        <result property="deletionTime" column="deletionTime"/>
        <result property="deleted" column="deleted"/>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id,
        tenantId,
        date,
        holidayId,
        workDay,
        description,
        creatorUserId,
        creationTime,
        lastModifierUserId,
        lastModificationTime,
        deleterUserId,
        deletionTime,
        deleted
    </sql>
    <select id="selectByDate" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from chg_holiday_calendar
        <where>
            deleted = '0'  ${ew.sqlSegment}
        </where>

    </select>
</mapper>
