body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:4780px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u394_img {
  position:absolute;
  left:0px;
  top:0px;
  width:500px;
  height:940px;
}
#u394 {
  position:absolute;
  left:30px;
  top:30px;
  width:500px;
  height:940px;
}
#u395 {
  position:absolute;
  left:2px;
  top:462px;
  width:496px;
  visibility:hidden;
  word-wrap:break-word;
}
#u396_div {
  position:absolute;
  left:0px;
  top:0px;
  width:381px;
  height:670px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u396 {
  position:absolute;
  left:90px;
  top:165px;
  width:381px;
  height:670px;
}
#u397 {
  position:absolute;
  left:2px;
  top:327px;
  width:377px;
  visibility:hidden;
  word-wrap:break-word;
}
#u398_img {
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:24px;
}
#u398 {
  position:absolute;
  left:93px;
  top:168px;
  width:376px;
  height:24px;
}
#u399 {
  position:absolute;
  left:2px;
  top:4px;
  width:372px;
  visibility:hidden;
  word-wrap:break-word;
}
#u400_img {
  position:absolute;
  left:0px;
  top:0px;
  width:381px;
  height:2px;
}
#u400 {
  position:absolute;
  left:90px;
  top:194px;
  width:380px;
  height:1px;
}
#u401 {
  position:absolute;
  left:2px;
  top:-8px;
  width:376px;
  visibility:hidden;
  word-wrap:break-word;
}
#u402_div {
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:20px;
}
#u402 {
  position:absolute;
  left:109px;
  top:210px;
  width:118px;
  height:24px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:20px;
}
#u403 {
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  white-space:nowrap;
}
#u404_img {
  position:absolute;
  left:0px;
  top:0px;
  width:381px;
  height:2px;
}
#u404 {
  position:absolute;
  left:91px;
  top:248px;
  width:380px;
  height:1px;
}
#u405 {
  position:absolute;
  left:2px;
  top:-8px;
  width:376px;
  visibility:hidden;
  word-wrap:break-word;
}
#u406_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:60px;
}
#u406 {
  position:absolute;
  left:382px;
  top:270px;
  width:60px;
  height:60px;
}
#u407 {
  position:absolute;
  left:2px;
  top:22px;
  width:56px;
  word-wrap:break-word;
}
#u408_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u408 {
  position:absolute;
  left:109px;
  top:289px;
  width:73px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u409 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u410_img {
  position:absolute;
  left:0px;
  top:0px;
  width:381px;
  height:2px;
}
#u410 {
  position:absolute;
  left:91px;
  top:349px;
  width:380px;
  height:1px;
}
#u411 {
  position:absolute;
  left:2px;
  top:-8px;
  width:376px;
  visibility:hidden;
  word-wrap:break-word;
}
#u412 {
  position:absolute;
  left:116px;
  top:365px;
}
#u412_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u412_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u413_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u413 {
  position:absolute;
  left:0px;
  top:2px;
  width:73px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u414 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u415_div {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:22px;
  color:#A1A1A1;
}
#u415 {
  position:absolute;
  left:312px;
  top:0px;
  width:14px;
  height:26px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:22px;
  color:#A1A1A1;
}
#u416 {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  white-space:nowrap;
}
#u417_img {
  position:absolute;
  left:0px;
  top:0px;
  width:381px;
  height:2px;
}
#u417 {
  position:absolute;
  left:91px;
  top:399px;
  width:380px;
  height:1px;
}
#u418 {
  position:absolute;
  left:2px;
  top:-8px;
  width:376px;
  visibility:hidden;
  word-wrap:break-word;
}
#u419 {
  position:absolute;
  left:116px;
  top:415px;
}
#u419_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u419_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u420_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u420 {
  position:absolute;
  left:0px;
  top:2px;
  width:73px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u421 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u422_div {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:22px;
  color:#A1A1A1;
}
#u422 {
  position:absolute;
  left:312px;
  top:0px;
  width:14px;
  height:26px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:22px;
  color:#A1A1A1;
}
#u423 {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  white-space:nowrap;
}
#u424_img {
  position:absolute;
  left:0px;
  top:0px;
  width:381px;
  height:2px;
}
#u424 {
  position:absolute;
  left:91px;
  top:449px;
  width:380px;
  height:1px;
}
#u425 {
  position:absolute;
  left:2px;
  top:-8px;
  width:376px;
  visibility:hidden;
  word-wrap:break-word;
}
#u426_img {
  position:absolute;
  left:0px;
  top:0px;
  width:381px;
  height:2px;
}
#u426 {
  position:absolute;
  left:91px;
  top:450px;
  width:380px;
  height:1px;
}
#u427 {
  position:absolute;
  left:2px;
  top:-8px;
  width:376px;
  visibility:hidden;
  word-wrap:break-word;
}
#u428_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u428 {
  position:absolute;
  left:116px;
  top:466px;
  width:73px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u429 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u430_img {
  position:absolute;
  left:0px;
  top:0px;
  width:381px;
  height:2px;
}
#u430 {
  position:absolute;
  left:91px;
  top:498px;
  width:380px;
  height:1px;
}
#u431 {
  position:absolute;
  left:2px;
  top:-8px;
  width:376px;
  visibility:hidden;
  word-wrap:break-word;
}
#u432_div {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FF0000;
}
#u432 {
  position:absolute;
  left:393px;
  top:469px;
  width:49px;
  height:19px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FF0000;
}
#u433 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u434_div {
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FF0000;
}
#u434 {
  position:absolute;
  left:116px;
  top:93px;
  width:161px;
  height:37px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FF0000;
}
#u435 {
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  white-space:nowrap;
}
#u436_img {
  position:absolute;
  left:0px;
  top:0px;
  width:500px;
  height:940px;
}
#u436 {
  position:absolute;
  left:610px;
  top:31px;
  width:500px;
  height:940px;
}
#u437 {
  position:absolute;
  left:2px;
  top:462px;
  width:496px;
  visibility:hidden;
  word-wrap:break-word;
}
#u438_div {
  position:absolute;
  left:0px;
  top:0px;
  width:381px;
  height:670px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u438 {
  position:absolute;
  left:670px;
  top:166px;
  width:381px;
  height:670px;
}
#u439 {
  position:absolute;
  left:2px;
  top:327px;
  width:377px;
  visibility:hidden;
  word-wrap:break-word;
}
#u440_img {
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:24px;
}
#u440 {
  position:absolute;
  left:673px;
  top:169px;
  width:376px;
  height:24px;
}
#u441 {
  position:absolute;
  left:2px;
  top:4px;
  width:372px;
  visibility:hidden;
  word-wrap:break-word;
}
#u442_img {
  position:absolute;
  left:0px;
  top:0px;
  width:381px;
  height:2px;
}
#u442 {
  position:absolute;
  left:670px;
  top:195px;
  width:380px;
  height:1px;
}
#u443 {
  position:absolute;
  left:2px;
  top:-8px;
  width:376px;
  visibility:hidden;
  word-wrap:break-word;
}
#u444_div {
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:20px;
}
#u444 {
  position:absolute;
  left:689px;
  top:211px;
  width:118px;
  height:24px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:20px;
}
#u445 {
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  white-space:nowrap;
}
#u446_img {
  position:absolute;
  left:0px;
  top:0px;
  width:381px;
  height:2px;
}
#u446 {
  position:absolute;
  left:671px;
  top:249px;
  width:380px;
  height:1px;
}
#u447 {
  position:absolute;
  left:2px;
  top:-8px;
  width:376px;
  visibility:hidden;
  word-wrap:break-word;
}
#u448_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:60px;
}
#u448 {
  position:absolute;
  left:962px;
  top:271px;
  width:60px;
  height:60px;
}
#u449 {
  position:absolute;
  left:2px;
  top:22px;
  width:56px;
  word-wrap:break-word;
}
#u450_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u450 {
  position:absolute;
  left:689px;
  top:290px;
  width:73px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u451 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u452_img {
  position:absolute;
  left:0px;
  top:0px;
  width:381px;
  height:2px;
}
#u452 {
  position:absolute;
  left:671px;
  top:350px;
  width:380px;
  height:1px;
}
#u453 {
  position:absolute;
  left:2px;
  top:-8px;
  width:376px;
  visibility:hidden;
  word-wrap:break-word;
}
#u454 {
  position:absolute;
  left:696px;
  top:366px;
}
#u454_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u454_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u455_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u455 {
  position:absolute;
  left:0px;
  top:2px;
  width:73px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u456 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u457_div {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:22px;
  color:#A1A1A1;
}
#u457 {
  position:absolute;
  left:312px;
  top:0px;
  width:14px;
  height:26px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:22px;
  color:#A1A1A1;
}
#u458 {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  white-space:nowrap;
}
#u459_img {
  position:absolute;
  left:0px;
  top:0px;
  width:381px;
  height:2px;
}
#u459 {
  position:absolute;
  left:671px;
  top:400px;
  width:380px;
  height:1px;
}
#u460 {
  position:absolute;
  left:2px;
  top:-8px;
  width:376px;
  visibility:hidden;
  word-wrap:break-word;
}
#u461 {
  position:absolute;
  left:696px;
  top:416px;
}
#u461_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u461_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u462_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u462 {
  position:absolute;
  left:0px;
  top:2px;
  width:73px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u463 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u464_div {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:22px;
  color:#A1A1A1;
}
#u464 {
  position:absolute;
  left:312px;
  top:0px;
  width:14px;
  height:26px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:22px;
  color:#A1A1A1;
}
#u465 {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  white-space:nowrap;
}
#u466_img {
  position:absolute;
  left:0px;
  top:0px;
  width:381px;
  height:2px;
}
#u466 {
  position:absolute;
  left:671px;
  top:450px;
  width:380px;
  height:1px;
}
#u467 {
  position:absolute;
  left:2px;
  top:-8px;
  width:376px;
  visibility:hidden;
  word-wrap:break-word;
}
#u468_img {
  position:absolute;
  left:0px;
  top:0px;
  width:381px;
  height:2px;
}
#u468 {
  position:absolute;
  left:671px;
  top:451px;
  width:380px;
  height:1px;
}
#u469 {
  position:absolute;
  left:2px;
  top:-8px;
  width:376px;
  visibility:hidden;
  word-wrap:break-word;
}
#u470_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u470 {
  position:absolute;
  left:696px;
  top:465px;
  width:73px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u471 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u472_img {
  position:absolute;
  left:0px;
  top:0px;
  width:381px;
  height:2px;
}
#u472 {
  position:absolute;
  left:671px;
  top:497px;
  width:380px;
  height:1px;
}
#u473 {
  position:absolute;
  left:2px;
  top:-8px;
  width:376px;
  visibility:hidden;
  word-wrap:break-word;
}
#u474_div {
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FF0000;
}
#u474 {
  position:absolute;
  left:696px;
  top:94px;
  width:161px;
  height:37px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FF0000;
}
#u475 {
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  white-space:nowrap;
}
#u476_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#A1A1A1;
}
#u476 {
  position:absolute;
  left:922px;
  top:468px;
  width:100px;
  height:19px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#A1A1A1;
}
#u477 {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  white-space:nowrap;
}
#u478_div {
  position:absolute;
  left:0px;
  top:0px;
  width:737px;
  height:111px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  color:#FF0000;
}
#u478 {
  position:absolute;
  left:1203px;
  top:219px;
  width:737px;
  height:111px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  color:#FF0000;
}
#u479 {
  position:absolute;
  left:0px;
  top:0px;
  width:737px;
  white-space:nowrap;
}
#u480_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:170px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u480 {
  position:absolute;
  left:4480px;
  top:2450px;
  width:300px;
  height:170px;
}
#u481 {
  position:absolute;
  left:2px;
  top:77px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u482_div {
  position:absolute;
  left:0px;
  top:0px;
  width:350px;
  height:170px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u482 {
  position:absolute;
  left:401px;
  top:1170px;
  width:350px;
  height:170px;
}
#u483 {
  position:absolute;
  left:2px;
  top:77px;
  width:346px;
  visibility:hidden;
  word-wrap:break-word;
}
#u484_div {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u484 {
  position:absolute;
  left:551px;
  top:1180px;
  width:49px;
  height:28px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u485 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u486_div {
  position:absolute;
  left:0px;
  top:0px;
  width:271px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u486 {
  position:absolute;
  left:441px;
  top:1234px;
  width:271px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u487 {
  position:absolute;
  left:0px;
  top:0px;
  width:271px;
  white-space:nowrap;
}
#u488_div {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:38px;
  background:inherit;
  background-color:rgba(188, 188, 188, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(174, 174, 174, 0.349019607843137);
  -webkit-box-shadow:5px 5px 5px rgba(174, 174, 174, 0.349019607843137);
  box-shadow:5px 5px 5px rgba(174, 174, 174, 0.349019607843137);
  color:#FFFFFF;
}
#u488 {
  position:absolute;
  left:535px;
  top:1290px;
  width:84px;
  height:38px;
  color:#FFFFFF;
}
#u489 {
  position:absolute;
  left:2px;
  top:11px;
  width:80px;
  word-wrap:break-word;
}
