<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zoeeasy.cloud.pms.mapper.PacketVehicleMapper">
    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.zoeeasy.cloud.pms.domain.PacketVehicleEntity">
        <id column="id" property="id"/>
        <result property="tenantId" column="tenantId"/>
        <result property="parkingId" column="parkingId"/>
        <result property="ruleId" column="ruleId"/>
        <result property="plateNumber" column="plateNumber"/>
        <result property="plateColor" column="plateColor"/>
        <result property="plateType" column="plateType"/>
        <result property="carType" column="carType"/>
        <result property="carColor" column="carColor"/>
        <result property="beginDate" column="beginDate"/>
        <result property="endDate" column="endDate"/>
        <result property="effectedStatus" column="effectedStatus"/>
        <result property="topUpStatus" column="topUpStatus"/>
        <result property="allParking" column="allParking"/>
        <result property="customerUserId" column="customerUserId"/>
        <result property="ownerName" column="ownerName"/>
        <result property="ownerPhone" column="ownerPhone"/>
        <result property="ownerEmail" column="ownerEmail"/>
        <result property="ownerAddress" column="ownerAddress"/>
        <result property="ownerCardNo" column="ownerCardNo"/>
        <result column="creatorUserId" property="creatorUserId"/>
        <result column="creationTime" property="creationTime"/>
        <result column="lastModifierUserId" property="lastModifierUserId"/>
        <result column="lastModificationTime" property="lastModificationTime"/>
        <result column="deleterUserId" property="deleterUserId"/>
        <result column="deletionTime" property="deletionTime"/>
        <result column="deleted" property="deleted"/>
    </resultMap>
    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id,
        tenantId,
        parkingId,
        ruleId,
        plateNumber,
        plateColor,
        plateType,
        carType,
        carColor,
        beginDate,
        endDate,
        effectedStatus,
        topUpStatus,
        allParking,
        customerUserId,
        ownerName,
        ownerPhone,
        ownerEmail,
        ownerAddress,
        ownerCardNo,
        creatorUserId,
        creationTime,
        lastModifierUserId,
        lastModificationTime,
        deleterUserId,
        deletionTime,
        deleted
    </sql>
    <select id="findByPlateNoAndParkingId" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from pms_packet_vehicle
        <where>
            deleted = '0' and plateNumber = #{plateNumber} and parkingId = #{parkingId}
        </where>
    </select>
</mapper>