<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:dubbo="http://code.alibabatech.com/schema/dubbo"
       xmlns="http://www.springframework.org/schema/beans"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://code.alibabatech.com/schema/dubbo
        http://code.alibabatech.com/schema/dubbo/dubbo.xsd
        ">
    <dubbo:reference id="magneticDetectorService"
                     interface="com.zoeeasy.cloud.pds.magneticdetector.MagneticDetectorService"
                     check="false" timeout="60000" retries="0" registry="fundamentalRegistry"
                     version="${dubbo.service.version}"/>
    <dubbo:reference id="magneticErrorReportService"
                     interface="com.zoeeasy.cloud.pds.magneticerrorreport.MagneticErrorReportService"
                     check="false" timeout="60000" retries="0" registry="fundamentalRegistry"
                     version="${dubbo.service.version}"/>
    <dubbo:reference id="magneticManagerService"
                     interface="com.zoeeasy.cloud.pds.magneticmanager.MagneticManagerService"
                     check="false" timeout="60000" retries="0" registry="fundamentalRegistry"
                     version="${dubbo.service.version}"/>
    <dubbo:reference id="platformDeviceService"
                     interface="com.zoeeasy.cloud.pds.device.PlatformDeviceService"
                     check="false" timeout="60000" retries="0" registry="fundamentalRegistry"
                     version="${dubbo.service.version}"/>
</beans>
