<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zhuyitech.parking.pms.mapper.CarBrandMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.zhuyitech.parking.pms.domain.CarBrand">
        <id column="id" property="id"/>
        <result column="name" property="name"/>
        <result column="fullName" property="fullName"/>
        <result column="initial" property="initial"/>
        <result column="parentId" property="parentId"/>
        <result column="parentIds" property="parentIds"/>
        <result column="logo" property="logo"/>
        <result column="depth" property="depth"/>
        <result column="price" property="price"/>
        <result column="yearType" property="yearType"/>
        <result column="sizeType" property="sizeType"/>
        <result column="saleState" property="saleState"/>
        <result column="productionState" property="productionState"/>
        <result column="creatorUserId" property="creatorUserId"/>
        <result column="creationTime" property="creationTime"/>
        <result column="lastModifierUserId" property="lastModifierUserId"/>
        <result column="lastModificationTime" property="lastModificationTime"/>
        <result column="deleterUserId" property="deleterUserId"/>
        <result column="deletionTime" property="deletionTime"/>
        <result column="deleted" property="deleted"/>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, name, fullName, initial, parentId, parentIds, logo, depth, price,yearType,sizeType,saleState,productionState,
        creatorUserId, creationTime, lastModifierUserId, lastModificationTime, deleterUserId, deletionTime, deleted
    </sql>

</mapper>
