<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zhuyitech.parking.pms.mapper.ParkingImageMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.zhuyitech.parking.pms.domain.ParkingImage">
        <id column="id" property="id"/>
        <result property="parkingId" column="parkingId"/>
        <result property="bizType" column="bizType"/>
        <result property="bizId" column="bizId"/>
        <result property="imageUrl" column="imageUrl"/>
        <result property="dataSource" column="dataSource"/>
        <result column="creatorUserId" property="creatorUserId"/>
        <result column="creationTime" property="creationTime"/>
        <result column="lastModifierUserId" property="lastModifierUserId"/>
        <result column="lastModificationTime" property="lastModificationTime"/>
        <result column="deleterUserId" property="deleterUserId"/>
        <result column="deletionTime" property="deletionTime"/>
        <result column="deleted" property="deleted"/>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
    id,parkingId,bizType,bizId,imageUrl,dataSource,
    creatorUserId, creationTime,lastModifierUserId,lastModificationTime,deleterUserId,deletionTime,deleted
    </sql>

</mapper>
